<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
</head>
<body>
    <h1>Match Details</h1>
    <table>
        <tbody>
            <tr>
                <th>Match ID:</th>
                <td>{{ match.match_id }}</td>
            </tr>
            <tr>
                <th>Team 1:</th>
                <td>{{ match.team_1_name }}</td>
            </tr>
            <tr>
                <th>Team 2:</th>
                <td>{{ match.team_2_name }}</td>
            </tr>
            <tr>
                <th>Result:</th>
                <td>{{ match.winner }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ match.match_date }}</td>
            </tr>
            <tr>
                <th>Venue:</th>
                <td>{{ match.venue }}</td>
            </tr>
            <tr>
                <th>Umpire:</th>
                <td>{{ match.umpire_name}}</td>
            </tr>
            <tr>
                <th>Group:</th>
                <td>{{ match.match_group }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
